<!-- Linkedin -->
<a href="https://www.linkedin.com/in/petrobrian/" class="btn btn-primary">
	<img src="https://s1-s.licdn.com/scds/common/u/img/logos/LinkedIn_logo_white_92x22_v2.png"alt="View Brian Petro's profile on LinkedIn">
</a>

<!-- Careers Stackoverflow -->
<a class="btn" href="http://careers.stackoverflow.com/brianpetro">
	<img src="http://careerscdn.sstatic.net/careers/Img/logo-new.png" style="max-height:23px;">
</a>
