<!-- BEGIN Linkedin Badge -->
<a href="http://www.linkedin.com/pub/brian-petro/37/720/8b">
	<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Brian Petro's profile on LinkedIn">
</a>
<!-- END Linkedin Badge -->
