<div ng-controller="EntryCtrl">
	<div class="row">
		<div class="span5 offset1">
			<h1>Brian Petro</h1>
			<i>Click entries to expand. Built with Rails 4 and AngularJS. <strong>INCOMPLETE.</strong></i><br>
			<div id="social" class="well well-small">
				<a href="/entries.pdf" class="btn btn-danger"><strong>View Resume PDF</strong></a>
				<%= render 'social' %>
			</div>
		</div>
		<div class="span5">
			<div class="alert">
				<h2>Resume Instant Search</h2>
				<input type="text" ng-model="search.$" class="input-large search-query">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<ul class="unstyled">
				<li ng-repeat="entry in entries | orderBy:'title' | filter:search" ng-init="entryClass=isClass(entry.isProject)">
					<div class="alert" ng-class="entryClass">
						<a ng-click="entry.showThis = !entry.showThis" href="">
							<span class="lead pull-right">Click to expand.</span>
							<h2>{{entry.title}}</h2>
						</a>
						<div class="well" ng-show="entry.showThis">
							{{entry.details}}
							<a href="{{entry.entry_url}}" ng-show="entry.entry_url" class="btn btn-success btn-small">Open Project</a>
							<div>
								<h3>Commits:</h3>
								<ul ng-repeat="c in commits">
									<li>
										{{c.commit.message}} at <i>{{c.commit.committer.date}}</i>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div> <!-- class span -->
	</div> <!-- class row -->
</div> <!-- ng-controller -->
