<div ng-controller="ResourceCtrl">
	<h1>Resources</h1>
	<form ng-submit="addResource()" class="form-search">
		<input type="string" ng-model="newResource.url">
		<input type="submit" value="Add">
	</form>
	<span class="lead">Instant Search URL and Tags</span>
	<input type="text" ng-model="search.$" class="input-large search-query">
	<table class="table table-bordered">
		<tr ng-repeat="site in resources | filter:search">
			<td>
				<a href="/qscores/upvote/{{site.qscores[0].id}}" ng-show="site.qscores[0].id" class="btn btn-info">upvote</a>
				<a class="btn btn-success" href="{{site.site.url}}">Open Resource</a>
			</td>
			<td>
				<ul class="unstyled">
					<li>
						<span ng-repeat="tag in site.tags">
							{{tag.name}},
						</span>
					</li>
					<li>
						<a class="btn btn-mini" href="/resources/{{site.site.id}}/edit">Edit</a>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>
