<h1>Listing resources</h1>
<ul>
<% @resources.each do |resource| %>
	<li><%= resource.url %><br>
	Tags: <%= raw resource.tags.map(&:name) %></li>
<% end %>
</ul>
<%= link_to 'New Resource', new_resource_path %>
