<!DOCTYPE html>
<html ng-app="Resume">
<head>
	<meta name="p:domain_verify" content="43489a0fdc2652d02c27d5c9208e1144" >
  <title>Brian Petro's Resume - Running AngularJS, BootStrap, CoffeeScript, Prawn, Postgres, Rails 4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39482908-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<a href="https://plus.google.com/109133157335615828056/?rel=author" class="pull-right">&copy; 2013 by Brian Petro</a>
</body>
</html>
